@media (min-width: 600px)
{
	html { background-color: black; color: orange; }

	.result
	{
		position: relative;
		overflow: hidden;
		width: 38vw;
		height: auto;
		text-align: left;
		display: block;
		left: 30vw;
		color: orange;
		border: 1px gray solid;
		margin: 0 0 10px 0;
		padding: 5px;
		pointer: pointer;
	}

	.result img
	{
		width: 100px;
		height: 100px;
		float: left;
		margin: 0 15px 0 5px;
	}

	.result h2
	{
		position: relative;
		margin: 0px;
		
		text-decoration: underline;
	}

	.result h3
	{
		margin: 25px 0 8px 0;
		text-decoration: underline;
		float: right;	
	}
	
	.result button
	{
		float: right;
	}

	.description
	{
		display: none;
		height: 80vh;
		width: 80vw;
		padding: 5px;
		overflow: visible;
		text-decoration: none;
		background-color: rgba(25, 25, 25, 0.95);
		position: fixed;
		right: 10vw;
		z-index: 1;
		top: 5vh;
	}
	
	.description button
	{
		position: relative;
		float: right;
		color: red;
		background-color: rgba(0, 0, 0, 0);
		margin: 0;
		top: -25px;
		border: 1px gray solid;
	}
	
	
	.description img
	{
		width: 250px;
		height: 250px;	
	}
	
	.description h2
	{
		color: red;
		width: 80%;
	}
	
	.description p
	{
		color: orange;
		font-size: 20px;
		width: auto;
		position: relative;
	}
	

	.result:nth-child(odd)
	{
		background-color: rgb(100, 100, 100);
	}	
	
	@keyframes showDetails
	{
		0%   { height: 150px; }		
		25%  { height: 180px; }		
		50%  { height: 210px; }		
		75%  { height: 235px; } 	
		100% { height: auto;  }
	}

	.detailsBtn
	{
		background-color: rgba(0, 0, 0, 0);
		color: orange;
		border: 1px orange solid;
		position: relative;
	}
}


@media (max-width: 599px)
{
	html { background-color: black; color: orange; }

	.result
	{
		position: relative;
		overflow: hidden;
		width: 38vw;
		height: auto;
		text-align: left;
		display: block;
		left: 30vw;
		color: orange;
		border: 1px gray solid;
		margin: 0 0 10px 0;
		padding: 5px;
		pointer: pointer;
	}

	.result img
	{
		width: 100px;
		height: 100px;
		float: left;
		margin: 0 15px 0 5px;
	}

	.result h2
	{
		position: relative;
		margin: 0px;
		
		text-decoration: underline;
	}

	.result h3
	{
		margin: 25px 0 8px 0;
		text-decoration: underline;
		float: right;	
	}
	
	.result button
	{
		float: right;
	}

	.description
	{
		display: none;
		height: auto;
		width: auto;
		padding: 5px;
		margin: 0 0 0 5px;
		overflow: visible;
		text-decoration: none;
		background-color: rgba(25, 25, 25, 0.95);
		position: fixed;
		right: 10vw;
		z-index: 1;
		top: 5vh;
	}
	
	.description button
	{
		position: relative;
		float: right;
		color: crimson;
		background-color: rgba(0, 0, 0, 0);
		margin: 0;
		bottom: 38vh;
		border: 1px gray solid;
	}
	
	
	.description img
	{
		width: 250px;
		height: 250px;	
	}
	
	.description h2
	{
		color: red;
		width: 80%;
	}
	
	.description p
	{
		color: orange;
		font-size: 24px;
		width: auto;
		position: relative;
	}
	

	.result:nth-child(odd)
	{
		background-color: rgb(100, 100, 100);
	}	
	
	@keyframes showDetails
	{
		0%   { height: 150px; }		
		25%  { height: 180px; }		
		50%  { height: 210px; }		
		75%  { height: 235px; } 	
		100% { height: auto;  }
	}

	.detailsBtn
	{
		background-color: rgba(0, 0, 0, 0);
		color: orange;
		border: 1px orange solid;
		position: relative;
	}
}

