<!doctype html>
<html>
  <head>
	<title>Demo</title>
	<style>
	</style>
	<link href='styles.css' rel='stylesheet' />
  </head>
  <body>
  <header style='clear: both; width: 100vw; background-color: black; text-align: center; margin: 0 0 100px 0;'>
	<h1>Some sick nadpis</h1>
	<nav>
		<a href='#home'>Odkaz 1</a>
		<a href='#home'>Odkaz 2</a>
		<a href='#home'>Odkaz 3</a>
		<a href='#home'>Odkaz 4</a>
		<a href='#home'>Odkaz 5</a>
	</nav>
  </header>
	  <div class='TicketList'>
	  <ul>
		<li class='Ticket'>
			<p><b>Ticket no.</b> : 0000 0000 0000 000</p>
			<p><b>From: </b> Some veeeeery long name of some shit city</p>
			<p><b>Date: </b> 00.00.0000</p>
			<p><b>Time: </b> 00:00</p>
			<button>Show details</button>
		</li>
		
		<li class='Ticket'>
			<p><b>Ticket no.</b> : 0000 0000 0000 000</p>
			<p><b>From: </b> Some veeeeery long name of some shit city</p>
			<p><b>Date: </b> 00.00.0000</p>
			<p><b>Time: </b> 00:00</p>
			<button>Show details</button>
		</li>
		
		<li class='Ticket'>
			<p><b>Ticket no.</b> : 0000 0000 0000 000</p>
			<p><b>From: </b> Some veeeeery long name of some shit city</p>
			<p><b>Date: </b> 00.00.0000</p>
			<p><b>Time: </b> 00:00</p>
			<button>Show details</button>
		</li>
		
		<li class='Ticket'>
			<p><b>Ticket no.</b> : 0000 0000 0000 000</p>
			<p><b>From: </b> Some veeeeery long name of some shit city</p>
			<p><b>Date: </b> 00.00.0000</p>
			<p><b>Time: </b> 00:00</p>
			<button>Show details</button>
		</li>
		
		<li class='Ticket'>
			<p><b>Ticket no.</b> : 0000 0000 0000 000</p>
			<p><b>From: </b> Some veeeeery long name of some shit city</p>
			<p><b>Date: </b> 00.00.0000</p>
			<p><b>Time: </b> 00:00</p>
			<button>Show details</button>
		</li>
		
		<li class='Ticket'>
			<p><b>Ticket no.</b> : 0000 0000 0000 000</p>
			<p><b>From: </b> Some veeeeery long name of some shit city</p>
			<p><b>Date: </b> 00.00.0000</p>
			<p><b>Time: </b> 00:00</p>
			<button>Show details</button>
		</li>
	  </ul>
	  </div>
 </body>
</html>